.Error404 {
	color: $color-navHover;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 288px;
	text-align: center;
	margin-top: 0px;
}
.Error404text {
	color: $color-navHover;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 142.6%;
	text-align: center;
	margin-top: -150px;
}
.Error404link {
	color: $color-navHover;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 142.6%;
	text-align: center;
	margin-top: 150px;
}
